# these folders will be used by the scripts if run locally
benches/parameters
results

# folder used by docker if run using docker-compose
docker_mounts

# Rust
target

# Python
.venv

# Raw data (when running notebook locall)
/resources/shuffle-model-parameters/Geolife Trajectories 1.3/

# other files
compose.yaml
Dockerfile
.gitignore
